:root {
  --olor-light: #e0c3fc;
}
main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.6fr;
  height: 100vh;
}

/* Left sidebar */

.left-sidebar {
  display: grid;
  grid-template-rows: 2rem 0.2fr 1fr 2rem;
}

.left-sidebar img {
  justify-self: center;
  grid-row: 2;
  max-width: 100%;
  height: auto;
}

.left-sidebar .items {
  justify-self: center;
  grid-row: 3;
}

.items > div {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.items div a {
  outline: none;
  text-decoration: none;
}

.items div a:link {
  color: #000;
}
.items span {
  font-size: 1.2em;
  margin-left: 0.6em;
}

#menuBigScreen {
  display: block;
}

#menuToggle {
  display: none;
}

/* Right sidebar */
.right-sidebar {
  display: grid;
  grid-template-rows: 2rem 0.1fr 0.1fr 0.1fr 0.7fr;
  justify-items: center;
}

.right-sidebar p {
  grid-row: 3;
  justify-self: center;
  margin: 0;
}

.right-sidebar ul {
  grid-row: 2;
  justify-self: center;
  align-self: center;
  list-style: none;
  text-align: center;
  padding: 0;
}
.right-sidebar li {
  font-weight: 500;
  cursor: pointer;
}

.img-circular {
  width: 100px;
  background-size: cover;
  display: block;
  border-radius: 50%;
  grid-row: 2;
  justify-self: center;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-flex;
  border: 0;
  outline: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  height: 3rem;
  width: 12rem;
  background-color: rgba(147, 197, 252, 0.4);
  grid-row: 4;
  justify-self: center;
  cursor: pointer;
}

.btn__icon,
.btn__text {
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.btn__icon {
  width: 1.5rem;
}

.btn__icon img {
  max-width: 100%;
  height: auto;
}

/* Pomodoro */

.pomodoro-wrapper {
  justify-self: center;
  display: grid;
  grid-template-rows: 2rem 0.27fr 0.5fr 0.27fr;
  height: 90%;
  border: 2px solid rgba(147, 197, 252, 0.3);
  border-radius: 15px;
}

.pomodoro-wrapper-task-mode {
  grid-row: 5;
  width: 90%;
}

.pomodoro-wrapper-focus-mode {
  grid-row: 3;
  grid-column: 2;
  width: 90%;
}

.pomodoro-time-selector-wrapper {
  justify-self: center;
  align-self: center;
  height: 4rem;
  grid-row: 2;
  width: 80%;
  border: 2px solid rgba(147, 197, 252, 0.3);
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pomodoro-animation-wrapper {
  width: 80%;
  align-self: center;
  justify-self: center;
  grid-row: 3;
}

.pomodoro-start-reset-wrapper {
  display: flex;
  grid-row: 4;
  align-self: center;
  justify-content: center;
}

.pomodoro-btn {
  border: 0;
  outline: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
  justify-self: space-between;
  height: 3rem;
  width: 60%;
}

.pomodoro-btn-interaction:hover {
  background-color: rgba(147, 197, 252, 0.3);
  cursor: pointer;
}

.pomodoro-btn-interaction:focus {
  background-color: rgba(147, 197, 252, 0.3);
}

.pomodoro-small-reset-btn {
  width: 20%;
  margin-left: 0.4rem;
}

.pomodoro-large-reset-btn {
  width: 82%;
}

.pomodoro-btn-interaction-reset:hover {
  background-color: rgba(255, 0, 0, 0.541);
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(255, 0, 0, 0.541);
  cursor: pointer;
}

.pomodoro-time-btn {
  border-radius: 0;
  box-shadow: none;
  height: 3rem;
  font-size: 1rem;
  width: 33.33%;
  height: 100%;
}

.pomodoro-time-btn-active {
  background-color: rgba(147, 197, 252, 0.3);
}

/* Middle content */

.wrapper {
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3),
    -0.2em -0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
  height: 100vh;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 2em 0.1fr 1fr;
  overflow: hidden;
}

.wrapper-focus-mode {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 0.1fr 1fr;
  box-shadow: none;
}

.wrapper-task-mode {
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 2em 0.1fr 1fr;
}

.wrapper .wrapper__bk {
  background-image: url("/src/Assets/img/coffee.gif");
  background-size: contain;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  grid-row: 3;
  position: relative;
}

.wrapper .wrapper__bk div {
  position: absolute;
  top: 25rem;
  width: 80%;
  text-align: center;
  left: 2rem;
}

.wrapper__text {
  grid-row: 2;
  grid-column: 1 / 3;
  margin: 0 1.4rem;
}

.wrapper__cards {
  grid-row: 3;
  overflow: auto;
}

/* Login */
.login-section {
  height: 100vh;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  text-align: center;
}

.login-btn {
  font-size: 1.3rem;
  text-align: center;
  border-radius: 5px;
  width: 12rem;
  height: 2rem;
  padding: 0.9rem 1.55rem;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(146, 197, 252, 0.3);
}

.google-color:hover,
.google-color:focus {
  background-color: rgba(255, 0, 0, 0.671);
}

.google-color {
  background-color: red;
}

.github-color {
  background-color: black;
}

.github-color:hover {
  background-color: rgba(0, 0, 0, 0.678);
}

.facebook-color {
  background-color: rgb(10, 104, 245);
}

.facebook-color:hover {
  background-color: rgba(10, 104, 245, 0.767);
}

.twitter-color {
  background-color: #1da1f2;
}

.twitter-color:hover {
  background-color: #1da0f2b0;
}

/* cards */

.wrapper__cards > article {
  width: 90%;
  box-shadow: 0.2em 0.3em 0.5px 0 rgba(0, 0, 0, 0.1),
    -0.1em -0.1em 0.3px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.8rem;
  margin: 1.2rem auto;
  padding: 0.5em 0;
}

article > * {
  grid-column: 1/4;
}

article header {
  display: grid;
  grid-template-columns: 2em 2.5fr 1fr 2em;
  justify-items: start;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-gap: 20px;
}

.card__content p {
  margin: 0 3em;
}

.card__content ul {
  list-style: none;
  padding: 0;
  margin: 0 3em;
}

.card__content ul .round label {
  width: 12px;
  height: 12px;
}

.card__content ul .round {
  margin-right: 0.4em;
}

.card__content li {
  line-height: 1.8rem;
}

.card-task-name {
  margin-left: 0.5rem;
}
article header .text {
  grid-column: 2;
}
article header .text h3 {
  margin: 0;
}

article header .ions {
  grid-column: 3;
  justify-self: end;
}

.card-footer time {
  display: flex;
  align-items: center;
  color: var(--olor-light);
  margin-left: 3em;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
  height: 2rem;
}

.card-footer-complete {
  color: rgba(26, 161, 60, 0.527);
}

.card-footer-incomplete {
  color: rgba(221, 56, 27, 0.651);
}

.complete-task-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  outline: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 0 1rem;
  height: 2rem;
  width: 10rem;
  background-color: rgba(21, 216, 21, 0.199);
  cursor: pointer;
}

.complete-task-button:hover,
.complete-task-button:focus {
  background-color: rgba(21, 216, 21, 0.404);
}

/* Round checkbox */

/* .round {
  position: relative;
  grid-column: 2;
}

.round label {
  background-color: #fff;
  border: 1px solid var(--olor-light);
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
} */

/* .round label:after {
  border: 2px solid var(--olor-light);
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
} */
/* 
.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--olor-light);
  border-color: var(--olor-light);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}  */

/* Tabs */

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 1rem;
}

.tabs > li {
  margin: 0 1em;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
  border-radius: 15px;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* Form */

.form > div {
  margin: 1em 0;
}

/* Same as ./form > div  */
.form-spacing {
  margin: 1em;
}

.form input[type="text"],
.form input[type="number"] {
  width: 100%;
  border-radius: 1em;
  border-color: var(--olor-light);
  height: 2em;
  outline: none;
  border: none;
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
}

.form input[type="number"] {
  width: 100%;
}

/* Toggle */
.toggle-btn {
  position: relative;
}

#toggle,
#toggle-not-input,
#toggle-not-sound-input {
  /* visibility: hidden; */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#toggle:checked + #toggle-label,
#toggle-not-input:checked + #toggle-not-label,
#toggle-not-sound-input:checked + #toggle-not-sound-label {
  background-color: #e0c3fc;
}

#toggle:checked + #toggle-label:before,
#toggle-not-input:checked + #toggle-not-label:before,
#toggle-not-sound-input:checked + #toggle-not-sound-label:before {
  /* transform: translateX(90px); */
  background-color: #fff;
  left: 40px;
}

#toggle-label,
#toggle-not-sound-label,
#toggle-not-label {
  display: flex;
  width: 60px;
  height: 20px;
  border: 2px solid #e0c3fc;
  border-radius: 20em;
  position: relative;
  background-color: #fff;
  transition: background-color 0.75s ease-in-out;
  cursor: pointer;
}

#toggle-label::before,
#toggle-not-sound-label::before,
#toggle-not-label::before {
  transition: 0.2s;
  transition-delay: 0s;
  transition-delay: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #e0c3fc;
  border-radius: 50%;
  top: 2px;
  left: 3px;
}

/* Class for adding subtask*/
.plus-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-plus {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  margin-top: 10px; /* Some margin */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
/* Class for deleting subtask*/
.minus-container {
  display: grid;
  grid-template-columns: auto 50px;
}
.btn-minus {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  /* margin-top: 10px; Some margin */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.cancel {
  margin-right: 1em;
  background-color: var(--olor-light);
}

.buttons .btn {
  display: block;
  height: 2.4rem;
  width: 7rem;
}

/* Settings */

.settings-container-pomodoro {
  display: flex;
  align-items: center;
}

.settings-container-notifications {
  margin-left: 1rem;
}

.settings-sub-heading {
  margin-left: 1rem;
}

.settings-popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 3rem;
  width: 12rem;
  background-color: rgba(147, 197, 252, 0.4);
  border-radius: 1em;
  border-color: var(--olor-light);
  height: 2em;
  padding: 0.4rem 0 0 0;
  margin-left: 1rem;
  outline: 0;
  border: 0;
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
}

.settings-popup-btn:hover {
  cursor: pointer;
  background-color: rgba(147, 198, 252, 0.26);
}

.settings-btn:hover {
  cursor: pointer;
}

/* Pans */

.card__rewards,
.card__resources {
  margin: 0 3em;
}

.card__rewards span,
.card__resources span {
  font-size: 0.8em;
  color: #555;
  font-style: italic;
}

.card__resources span {
  font-size: 0.8em;
  display: block;
}

.card__rewards p,
.card__resources p {
  margin: 0;
}

.pill {
  display: inline-block;
  margin: 20px 10px 0 0;
  padding: 6px 12px;
  background: #eee;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

/* Focused View */

.focused-card {
  display: grid;
  grid-template-rows: 0.5fr 0.9fr 0.5fr 0.5fr 0.4fr 1fr;
  grid-row: 3;
  grid-column: 1;
  width: 90%;
  height: 90%;
  border: 2px solid rgba(147, 197, 252, 0.3);
  border-radius: 15px;
  justify-self: center;
  justify-items: center;
}
.focused-card-title {
  grid-row: 1;
  width: 80%;
}

.focused-card-description {
  grid-row: 2;
  width: 80%;
}

.focused-card-stage {
  grid-row: 3;
  width: 80%;
}

.focused-card-resources-container {
  grid-row: 4;
  width: 80%;
}

.focused-card-rewards-container {
  grid-row: 5;
  width: 80%;
}

.focussed-task-btn-container {
  display: flex;
  grid-row: 6;
  width: 100%;
  height: 100%;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.focussed-task-btn {
  height: 3rem;
  width: 80%;
  border: 0;
  outline: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
  justify-self: center;
}

.focussed-task-btn:hover,
.focussed-task-btn:hover {
  cursor: pointer;
  background-color: rgba(147, 198, 252, 0.233);
}

.focussed-task-complete-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 0 1rem;
  background-color: rgba(21, 216, 21, 0.199);
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(21, 216, 21, 0.199);

  cursor: pointer;
}

.focussed-task-complete-btn:hover,
.focussed-task-complete-btn:focus {
  background-color: rgba(21, 216, 21, 0.404);
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(21, 216, 21, 0.404);
}

.settings-btn-focus-mode {
  padding: 1rem;
}

/* for smaller screen */

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) { 
  #menuBigScreen {
    display: none;
  }
  #menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height: 100vh;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  display: flex;
  padding: 10px 0;
  font-size: 22px;
}

#menu .menu-li .menu-div {
  margin-left: 0.4em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
 }
