:root {
  --olor-light: #e0c3fc;
}
main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.6fr;
  height: 100vh;
}

/* Left sidebar */

.left-sidebar {
  display: grid;
  grid-template-rows: 2rem 0.2fr 1fr 2rem;
}

.left-sidebar img {
  justify-self: center;
  grid-row: 2;
  max-width: 100%;
  height: auto;
}

.left-sidebar .items {
  justify-self: center;
  grid-row: 3;
}

.items > div {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.items div a {
  outline: none;
  text-decoration: none;
}

.items div a:link {
  color: #000;
}
.items span {
  font-size: 1.2em;
  margin-left: 0.6em;
}

/* Right sidebar */
.right-sidebar {
  display: grid;
  grid-template-rows: 2rem 0.1fr 0.1fr 0.1fr 0.1fr;
}

.right-sidebar p {
  grid-row: 3;
  justify-self: center;
  margin: 0;
}

.right-sidebar ul {
  grid-row: 2;
  justify-self: center;
  align-self: center;
  list-style: none;
  text-align: center;
}
.right-sidebar li {
  margin-right: 50px;
  font-weight: 500;
  cursor: pointer;
}

.img-circular {
  width: 90px;
  /* height: 100px; */
  background-size: cover;
  display: block;
  border-radius: 50%;
  grid-row: 2;
  justify-self: center;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  /* border:2px solid #1da0f2b0; */
}

.btn {
  display: inline-flex;
  /* justify-content: space-between; */
  border: 0;
  outline: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  height: 3rem;
  width: 12rem;
  background-color: rgba(147, 197, 252, 0.4);
  grid-row: 4;
  justify-self: center;
  cursor: pointer;
}

.btn__icon,
.btn__text {
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.btn__icon {
  width: 1.5rem;
}

.btn__icon img {
  max-width: 100%;
  height: auto;
}

.btn_pomodoro {
  display: inline-flex;
  justify-content: space-between;
  border: 0;
  outline: 0;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  height: 3rem;
  width: 10rem;
  /* margin: 2rem 0; */
  background-color: rgba(255, 255, 255, 1);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
  grid-row: 5;
  justify-self: center;
}

.btn_pomodoro .btn__icon {
  width: 1rem;
}

.btn_pomodoro .btn__icon,
.btn_pomodoro .btn__text {
  padding: 0 0.5rem;
}

/* Middel ontent */

.wrapper {
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3),
    -0.2em -0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
  height: 100vh;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 2em 0.1fr 1fr;
  overflow: hidden;
}

.wrapper .wrapper__bk {
  background-image: url("/src/Assets/img/coffee.gif");
  background-size: contain;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  /* background-position: right; */
  grid-row: 3;
  position: relative;
}

.wrapper .wrapper__bk div {
  position: absolute;
  top: 25rem;
  width: 80%;
  text-align: center;
  left: 2rem;
}

.wrapper__text {
  grid-row: 2;
  grid-column: 1 / 3;
  margin: 0 1.4rem;
}

.wrapper__cards {
  grid-row: 3;
}

/* Login */
.login-section {
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(146, 197, 252, 0.3),
    -0.2em -0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
  height: 100vh;
  border-radius: 0.8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {

  text-align: center;
}

.login-btn {
  font-size: 1.3rem;
  text-align: center;
  border-radius: 5px;
  width: 12rem;
  height: 2rem;
  padding: 0.9rem 1.55rem;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(146, 197, 252, 0.3);
}

.google-color:hover,
.google-color:focus {
  background-color: rgba(255, 0, 0, 0.671);
}

.google-color {
  background-color: red;
}

.github-color {
  background-color: black;
}

.github-color:hover {
  background-color: rgba(0, 0, 0, 0.678);
}

.facebook-color {
  background-color: rgb(10, 104, 245);
}

.facebook-color:hover {
  background-color: rgba(10, 104, 245, 0.767);
}

.twitter-color {
  background-color: #1da1f2;
}

.twitter-color:hover {
  background-color: #1da0f2b0;
}

/* Login animation */

.left-animation {
  animation: runLeft ease 2s;
}

@keyframes runLeft {
  0% {
    margin-left: -98%;
  }
  100% {
    margin-left: 0%;
  }
}

.right-animation {
  animation: runRight ease 2s;
}

@keyframes runRight {
  100% {
    margin-right: 0%;
  }
  0% {
    margin-right: -98%;
  }
}

/* cards */

.wrapper__cards > article {
  width: 90%;
  box-shadow: 0.2em 0.3em 0.5px 0 rgba(0, 0, 0, 0.1),
    -0.1em -0.1em 0.3px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.8rem;
  margin: 1.2rem auto;
  padding: 0.5em 0;
}

article > * {
  grid-column: 1/4;
}

article header {
  display: grid;
  grid-template-columns: 2em 2em 1fr 1fr 2em;
  justify-items: start;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-gap: 20px;
}

.card__content p {
  margin: 0;
  margin-left: 4em;
}

.card__content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 4em;
}

.card__content ul .round label {
  width: 12px;
  height: 12px;
}

.card__content ul .round {
  margin-right: 0.4em;
}

article header .text {
  grid-column: 3;
}
article header .text h3 {
  margin: 0;
}

article header .ions {
  grid-column: 4;
  justify-self: end;
}

footer time {
  color: var(--olor-light);
  margin-left: 4em;
}

/* Round checkbox */

.round {
  position: relative;
  grid-column: 2;
}

.round label {
  background-color: #fff;
  border: 1px solid var(--olor-light);
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid var(--olor-light);
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--olor-light);
  border-color: var(--olor-light);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* Tabs */

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 1rem;
}

.tabs > li {
  margin: 0 1em;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* Form */

.form > div {
  margin: 1em 0;
}

.form input[type="text"] {
  width: 100%;
  width: 100%;
  border-radius: 1em;
  border-color: var(--olor-light);
  height: 2em;
  outline: none;
  border: none;
  box-shadow: 0.2em 0.4em 3px 1.5px rgba(147, 197, 252, 0.3);
}

/* Toggle */
.togglle-btn {
  position: relative;
}

#toggle {
  /* visibility: hidden; */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#toggle:checked + #toggle-label {
  background-color: #e0c3fc;
}

#toggle:checked + #toggle-label:before {
  /* transform: translateX(90px); */
  background-color: #fff;
  left: 40px;
}

#toggle-label {
  display: flex;
  width: 60px;
  height: 20px;
  border: 2px solid #e0c3fc;
  border-radius: 20em;
  position: relative;
  background-color: #fff;
  transition: background-color 0.75s ease-in-out;
  cursor: pointer;
}

#toggle-label::before {
  transition: 0.2s;
  transition-delay: 0s;
  transition-delay: 0.5s;
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #e0c3fc;
  border-radius: 50%;
  top: 2px;
  left: 3px;
}
.plus-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-plus {
  /* Class for adding subtask*/
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  margin-top: 10px; /* Some margin */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
